@charset "utf-8";

@font-face {
	font-family: 'Clear-Light';
	src: url(fonts/AdobeClean-Light.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Clear-Bold';
	src: url(fonts/AdobeClean-Bold.otf);
	font-style: normal;
	font-weight: normal;
}

html {
    height: 100%;
}

body {
	background-color: #f6f6f6;
	margin: 0;
    padding: 0;
    height: 100%;
	font-family: Clear-Light;
}

a {
    line-height: 1;
    display: inline-block;
    color: red;
    text-decoration:none;
    cursor: pointer;
}

a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: red;
    opacity: .3;
    transition: width .2s ease-in-out;
}

a:hover:after, a:focus:after {
    width: 100%;
}

#content {
	display: block;
	float: left;
	margin-top: 90px;
	margin-left: 300px;
}

#hor_navbar {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#hor_navbar li {
	display: inline;
	margin-right: 35px;
}

#hor_navbar a {
	font-size: 16px;
	color: #6d6d6d;
	text-decoration: none;
	text-transform: uppercase;
	transition:  0.125s ease-out;
}

#hor_navbar a:hover {color: red;}

#sidebar {
	position: fixed;
	float: left;
	width:  250px;
	min-height: 100%;
	background-color: white;
}

#logo {
	display: block;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	position: relative;
	width: 105px;
	margin: 150px auto;
}

#ver_navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#ver_navbar a {
	display: block;
	font-size: 18px;
	color: #6d6d6d;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 35px;
	transition:  0.125s ease-out;
}

#ver_navbar a:hover {color: red;}

#pfworks {
	margin-top: 65px;
	clear: both;
}

#card_pfwork {
	display: inline-block;
	width: 270px;
	height: 340px;
	background-color: white;
	float: left;
	margin: 10px;
	transition: 0.125s ease-out;
  	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  }

#card_img {
	display: inline-block;
	width: 270px;
	height: 230px;
	margin: 0;
	overflow: hidden;
  	vertical-align: top;
}

#card_img img {
	display: block;
	width: 270px;
	height: 230px;
	margin: 0;
	transition: 0.125s ease-out;
}

#card_img img:hover {
	transform: scale(1.12) rotate(-3deg);
    -webkit-filter: brightness(110%);
}

#card_pfwork_descr {
	display: block;
	padding: 25px;
	margin: 0;
}

#card_pfwork_descr h2 {
    display: block;
	font-family: Clear-Bold;
	font-size: 20px;
	margin: 0;
}

#card_pfwork_descr a{
	color: black;
	transition:  0.125s ease-out;
}

#card_pfwork_descr a:hover{
	color: red;
}

#card_pfwork_descr p{
	font-size: 16px;
	color: #535353;
	margin: 0;
	margin-top: 15px;
}
