@charset "utf-8";

@font-face {
	font-family: 'Clear-Light';
	src: url(fonts/AdobeClean-Light.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Clear-Bold';
	src: url(fonts/AdobeClean-Bold.otf);
	font-style: normal;
	font-weight: normal;
}

:root {
    --sidebar-width: 250px;
    --socialBoxSize: 32px;
    --socialIconSize: 20px;
    
    --main-color: red;
    --theme-gray: #f6f6f6;
    
    --anim-speed: 0.2s;   
}

html {height: 100%;}

body {
	background-color: var(--theme-gray);
	margin: 0;
    padding: 0;
    height: 100%;
	font-family: Clear-Light;
}

a {
    line-height: 1;
    display: inline-block;
    color: var(--main-color);
    text-decoration:none;
    cursor: pointer;
}

a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: var(--main-color);
    opacity: .3;
    transition: width .2s ease-in-out;
}
a:hover:after, a:focus:after {width: 100%;}

a:hover {color: var(--main-color);}

strong {font-family: Clear-Bold;}

#sidebar {
	position: fixed;
	float: left;
	width:  var(--sidebar-width);
	min-height: 100%;
	background-color: white;
}

#logo {
	display: block;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
    cursor: pointer;
}

#menu {
	position: relative;
	width: 105px;
	margin: 150px auto;
}

#ver_navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#ver_navbar a {
	margin-bottom: 40px;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #6d6d6d;
	transition: var(--anim-speed) ease-out;
}

#ver_navbar a:hover {color: var(--main-color);}

#social {
    position: absolute;
    width: var(--sidebar-width);
    text-align: center;
    margin-bottom: 35px;
    bottom: 0;
}

#social a {
    position: relative;
    width: var(--socialBoxSize);
    height: var(--socialBoxSize);
    background: transparent;
    border: 1px solid #dcdcdc;
    margin: 10px;
	transition: var(--anim-speed) ease-out;
}

#social a svg {
    position: absolute;
    width: var(--socialIconSize);
    height: var(--socialIconSize);
    fill: black;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
	transition: var(--anim-speed) ease-out;
}
#social a:hover svg {fill: var(--main-color);}
#social a:after {display: none;}

#copyrights {
    width: var(--sidebar-width);
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: gray;
    bottom: 0;
    margin: 0 0 15px 0;
}


#content {
	display: block;
	float: left;
	margin-top: 90px;
	margin-left: 300px;
}

#hor_navbar {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#hor_navbar li {
	display: inline;
	margin-right: 35px;
}

#hor_navbar a {
	font-size: 16px;
	color: #6d6d6d;
	text-decoration: none;
	text-transform: uppercase;
	transition:  var(--anim-speed) ease-out;
}

#hor_navbar a:hover {color: var(--main-color);}

#pfworks {
	margin-top: 65px;
	clear: both;
}

#card_pfwork {
	display: inline-block;
	float: left;
	width: 270px;
	height: 340px;
	background-color: white;
	margin: 0 20px 20px 0;
	transition: var(--anim-speed) ease-out;
  	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  }

#card_img {
	display: inline-block;
	width: 270px;
	height: 230px;
	overflow: hidden;
  	vertical-align: top;
}

#card_img img {
	width: 270px;
	height: 230px;
	transition: var(--anim-speed) ease-out;
}

#card_img img:hover {
	transform: scale(1.12) rotate(-3deg);
    -webkit-filter: brightness(110%);
}

#card_pfwork_descr {padding: 25px;}

#card_pfwork_descr h2 {
    display: block;
	font-family: Clear-Bold;
	font-size: 20px;
	margin: 0;
}

#card_pfwork_descr a{
	color: black;
	transition:  var(--anim-speed) ease-out;
}
#card_pfwork_descr a:hover{color: var(--main-color);}

#card_pfwork_descr p{
	font-size: 16px;
	color: #535353;
	margin: 0;
	margin-top: 15px;
}